/* ========= MAIN ========== */
.main {
    padding-top: 60px;
}

h1 {
    font-size: 56px;
    font-weight: 500;
}

h2 {
    font-size: 32px;
}

/* ====== INTRO ========= */

.intro {
    background-color: black;
}

.intro__content {
    padding: 60px 280px;
}

.intro__title {
    line-height: 1  ;
    margin-bottom: 40px;
}

.intro__subtitle {
    font-size: 18px;
    margin-bottom: 40px;
}

.intro__button {
    align-items: center;
    padding: 10px;
    color: black;
    align-items: center;
}

.button__text {
    font-size: 18px;
    font-weight: 600;
}

.button__icon {
    font-size: 18px;
    margin-left: 10px;
}

/* ======= VIDEO ========= */

.intro__video {
    margin-bottom: 60px;
}

.intro__video video {
    width: 50%;
    height: auto;
}

/* ======= INTRO-END ======= */
 
.intro-end__title {
    
}
.intro-end__row {
    padding: 40px 100px;
}
.intro-end__col {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-bottom: 30px;
}

.intro-col__img {
    max-width: 100%;
    height: 36px;
    margin-right: auto;
    margin-bottom: 20px;
}

.intro-col__title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 30px
}

.intro-col__description {
    font-size: 16px;
    font-weight: 300;
}

/* ============ PRODUCT ============ */








/* ================================== */
/* ========= RESPONSIVE ========== */

/* PC */
@media (min-width: 1024px) {
    
}


/* TABLET */
@media (min-width: 768px) and (max-width:1023px){

h1 {
    font-size: 48px;
}

h2 {
    font-size: 28px;
}

.intro__content {
    padding: 50px 100px;
}

.intro__subtitle {
    font-size: 16px;
}

.intro__video video {
    width: 70%;
}

.intro__video {
    margin-bottom: 40px;
}

.intro-end__row {
    padding: 40px;
}

.intro-col__title, .intro-col__description {
    font-size: 14px;
}
}
/* MOBILE */
@media (max-width: 767px) {
h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}



.intro__content {
    padding: 40px;
}

.intro__subtitle {
    font-size: 14px;
}

.button__text {
    font-size: 16px;
}

.intro__video video {
    width: 90%;
}
}